@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: rgb(221, 7, 65);
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

.card {
  display: block;
  min-height: 100%;
  @media screen and (min-width: 690px) {
    display: flex;
    flex-direction: row;
  }
  &__photo {
    background: url(../assets/img/Photo.jpg);
    height: 65vh;
    background-size: cover !important;
    min-height: 100% !important;
    @media screen and (min-width: 690px) {
      width: 50vw;
      height: 100vh;
      background: url(../assets/img/Photo.jpg) no-repeat center center;
      background-size: cover !important;
      min-height: 640px !important;
    }
  }
  &__discription {
    background: rgb(221, 7, 65);
    background: linear-gradient(
      45deg,
      rgba(221, 7, 65, 1) 0%,
      rgba(221, 7, 7, 0.7371323529411764) 50%,
      rgba(221, 7, 65, 1) 100%
    );
    @media screen and (min-width: 690px) {
      width: 50vw;
      min-height: 100%;
    }
  }
}

.contact {
  display: flex;
  width: 235px;
  margin: 0 auto 24px auto;
  &__link {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    line-height: 22px;
    margin-left: 10px;
    @media screen and (min-width: 1440px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__media {
    display: flex;
    justify-content: center;
  }
  &__media-link {
    margin: 0 16px 28px 16px;
  }
}

.link {
  display: flex;
  justify-content: center;
  margin: 0 auto 30px auto;
  &__button {
    display: inline-block;
    width: 235px;
    height: 45px;
    border-radius: 40px;
    border: 2px solid $red;
    text-align: center;
    text-decoration: none;
    color: $red;
    font-size: 22px;
    font-weight: 600;
    align-items: center;
    padding: 8px;
    margin: auto;
    &:hover {
      color: white;
      background-color: $red;
    }
  }
}

.logo {
  margin: 0;
  position: absolute;
  padding: 8px;
}

.section {
  min-width: 288px;
  max-width: 590px;
  padding: 16px;
  margin: 0 auto;
  @media screen and (min-width: 690px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-left: 0;
    padding-left: 48px;
    padding-right: 48px;
  }
  &__content {
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto 36px auto;
    @media screen and (min-width: 690px) {
      margin: 0 auto 36px 0;
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }
    @media screen and (min-width: 1440px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
  &__title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 36px;
    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
    @media screen and (min-width: 1440px) {
      font-size: 34px;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  color: #333;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 5px 4px 15px 0px #333;
  &__content {
    margin: 28px auto 36px auto;
  }
}
